@page "/log"
@using CompanyCommander.DB
@using CompanyCommander.Model
@using LiteDB
@using System.Text
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AppDbContext db

<PageTitle>Log</PageTitle>

<h1>Spielverlauf</h1>

<p>Hier werden jeweils immer die Stände bei Rundenende gelistet.</p>

@if (_rounds == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th rowspan="2">Runde</th>
                    <th rowspan="2">Uhrzeit</th>
                    <th colspan="4">Einkommen</th>
                    <th colspan="4">Lager</th>
                    <th rowspan="2">☠ FUKs</th>
                </tr>
                <tr>
                    <th>🪖 Manpower</th>
                    <th>💣 Ammo</th>
                    <th>⛽ Fuel</th>
                    <th>🏆 VictoryPoints</th>
                    <th>🪖 Manpower</th>
                    <th>💣 Ammo</th>
                    <th>⛽ Fuel</th>
                    <th>🏆 VictoryPoints</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var round in _rounds)
                {
                    <tr>
                        <td>@round.Round</td>
                        <td>@round.Date.ToString("HH:mm:ss")</td>
                        <td>@GetIncomeAmount(StockpileType.Manpower, round)</td>
                        <td>@GetIncomeAmount(StockpileType.Ammo, round)</td>
                        <td>@GetIncomeAmount(StockpileType.Fuel, round)</td>
                        <td>@GetIncomeAmount(StockpileType.VictoryPoints, round)</td>
                        <td>@GetStockpileAmount(StockpileType.Manpower, round)</td>
                        <td>@GetStockpileAmount(StockpileType.Ammo, round)</td>
                        <td>@GetStockpileAmount(StockpileType.Fuel, round)</td>
                        <td>@GetStockpileAmount(StockpileType.VictoryPoints, round)</td>
                        <td>@round.FukCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<RoundInfoModel>? _rounds;

    private int? GetIncomeAmount(StockpileType type, RoundInfoModel round)
    {
        try
        {
            return round.Income.Where(i => i.Type == type).Single().Amount;
        }
        catch (Exception)
        {
            return null;
        }
    }

    private int? GetStockpileAmount(StockpileType type, RoundInfoModel round)
    {
        try
        {
            return round.Stockpile.Where(i => i.Type == type).Single().Amount;
        }
        catch (Exception)
        {
            return null;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await db.LoadDatabaseAsync();

        var stocks = db.Stockpile.Find(s => s.Round != 1).GroupBy(s => s.Round).OrderBy(s => s.Key).ToList();
        var inc = db.Income.Find(s => s.Round != 1).GroupBy(s => s.Round).OrderBy(s => s.Key).ToList();
        var rounds = new List<RoundInfoModel>();

        foreach (var group in inc)
        {
            var key = group.Key;
            var fuk = db.Fuks.Find(f => f.Round == key - 1).ToList();
            var r = new RoundInfoModel()
                {
                    Round = group.Key - 1,
                    Date = group.First().Date,

                    Income = group.ToList(),
                    FukCount = fuk.Count()
                };

            var s = stocks.Where(i => i.Key == key).SingleOrDefault();

            if (s != null)
            {
                r.Stockpile = s.ToList();
            }
            else
            {
                r.Stockpile = new List<Stockpile>() {
                new Stockpile(){ Amount=4, Type=StockpileType.VictoryPoints},
                new Stockpile(){  Amount=4,Type=StockpileType.Fuel},
                new Stockpile(){  Amount=4,Type=StockpileType.Manpower},
                new Stockpile(){  Amount=4,Type=StockpileType.Ammo}
                };
            }
            rounds.Add(r);
        }

        _rounds = rounds;
        // await localStorage.SetItemAsync("Database", jsonString);

        // forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }
}
