@page "/"
@using BlazorBootstrap
@using CompanyCommander.Components
@using CompanyCommander.DB
@using CompanyCommander.Model
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AppDbContext db
@implements IDisposable

<PageTitle>HqBoard</PageTitle>

<h1>HQ Board</h1>

<ConfirmDialog @ref="dialog" />
@*  In Modal: <BodyTemplate>...</BodyTemplate> *@
<Modal @ref="modal" Title="Sieg!">
    <BodyTemplate>
        Ihr wart siegreich!
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="async ()=>await modal.HideAsync()">Close</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="modalVpQuestion" Title="Wieviele VPs?">
    <BodyTemplate>
        Mit wievielen VPs spielt ihr?
    </BodyTemplate>
    <FooterTemplate>
        @if (_vps != null)
            @foreach (var vp in _vps)
            {
                <Button Color="ButtonColor.Primary" @onclick="async () =>{
                targetVpPick=vp;
                currentGame.VictoryPoints=vp;
                db.Game.Update(currentGame);
                await modalVpQuestion.HideAsync();
                }">
                    @vp
                </Button>
            }

    </FooterTemplate>
</Modal>

<div class="container">
    <div class="row mb-3">
        <div class="col text-start">
            <Dropdown Color="DropdownColor.Primary">
                <DropdownToggleButton>Neues Spiel</DropdownToggleButton>
                <DropdownMenu>
                    @if (_editions != null)
                        @foreach (var edition in _editions)
                        {
                            <DropdownItem Type="DropdownItemType.Button" @onclick="() =>NewGameAsync(edition)">@edition.GetDescription()</DropdownItem>
                        }
                </DropdownMenu>
            </Dropdown>
        </div>
        <div class="col text-center">
            <p role="status">Runde: @currentRound</p>
        </div>
        <div class="col text-end">
            <button class="btn btn-primary me-2" @onclick="AppResetAsync">Reset App</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    Einkommen
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col text-start">
                            <p role="status">🪖 Manpower: +@currentIncome.Manpower</p>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary me-2" @onclick="() => IncrementCount(StockpileType.Manpower)">+1</button>
                            <button class="btn btn-primary" @onclick="() => DecrementCount(StockpileType.Manpower)">-1</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col text-start">
                            <p role="status">💣 Ammo: +@currentIncome.Ammo</p>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary me-2" @onclick="() => IncrementCount(StockpileType.Ammo)">+1</button>
                            <button class="btn btn-primary" @onclick="() => DecrementCount(StockpileType.Ammo)">-1</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col text-start">
                            <p role="status">⛽ Fuel: +@currentIncome.Fuel</p>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary me-2" @onclick="() => IncrementCount(StockpileType.Fuel)">+1</button>
                            <button class="btn btn-primary" @onclick="() => DecrementCount(StockpileType.Fuel)">-1</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col text-start">
                            <p role="status">🏆 Victory Points: +@currentIncome.VictoryPoints</p>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary me-2" @onclick="() => IncrementCount(StockpileType.VictoryPoints)">+1</button>
                            <button class="btn btn-primary" @onclick="() => DecrementCount(StockpileType.VictoryPoints)">-1</button>
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-primary me-2" @onclick="GainVp">☠ Kill +1</button>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary" @onclick="NextRoundAsync">Einkünfte anpassen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    Lager
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col text-start">
                            <p role="status">🪖 Manpower: @currentCount.Manpower</p>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary me-2" @onclick="() => UndoOne(StockpileType.Manpower)">+1</button>
                            <button class="btn btn-primary me-2" @onclick="() => BuyOne(StockpileType.Manpower)">-1</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col text-start">
                            <p role="status">💣 Ammo: @currentCount.Ammo</p>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary me-2" @onclick="() => UndoOne(StockpileType.Ammo)">+1</button>
                            <button class="btn btn-primary me-2" @onclick="() => BuyOne(StockpileType.Ammo)">-1</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col text-start">
                            <p role="status" class="mt-3">⛽ Fuel: @currentCount.Fuel</p>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary me-2" @onclick="() => UndoOne(StockpileType.Fuel)">+1</button>
                            <button class="btn btn-primary me-2" @onclick="() => BuyOne(StockpileType.Fuel)">-1</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col text-start">

                            @if (currentGame != null)
                            {
                                <p role="status" class="mt-3">
                                    🏆 Victory Points: @currentCount.VictoryPoints / @currentGame.VictoryPoints
                                </p>
                            }
                            else
                            {
                                <p role="status" class="mt-3">
                                    🏆 Victory Points: @currentCount.VictoryPoints
                                </p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col">
            <h4>Reihenfolge:</h4>
            <ol>
                <li>Einkommen ggfs. anpassen</li>
                <li>Siegpunkte ggfs. durch FUKs anpassen</li>
                <li>Einkünfte anpassen</li>
                <li>Kaufen</li>
            </ol>
        </div>
    </div>
</div>

@code {
    private int targetVpPick = 15;

    private IncomeModel currentIncome = new IncomeModel();
    private IncomeModel currentCount = new IncomeModel();

    private int currentRound;

    private Game currentGame;
    private Modal modal = default!;
    private Modal modalVpQuestion = default!;
    private ConfirmDialog dialog = default!;
    private List<GameEdition> _editions;
    private List<int> _vps;

    protected override async Task OnInitializedAsync()
    {
        await db.LoadDatabaseAsync();
        _editions = ((GameEdition[])Enum.GetValues(typeof(GameEdition))).ToList();

        if (db.Stockpile.Count() == 0)
        {
            //Init...
            await Init(GameEdition.FirstEditionProWithErrata, false);
        }
        else
        {
            //Load...
            Load();
        }
    }

    public void Dispose()
    {
    }

    private void IncrementCount(StockpileType type)
    {
        switch (type)
        {
            case StockpileType.Manpower:
                currentIncome.Manpower++;
                break;
            case StockpileType.Ammo:
                currentIncome.Ammo++;
                break;
            case StockpileType.Fuel:
                currentIncome.Fuel++;
                break;
            case StockpileType.VictoryPoints:
                currentIncome.VictoryPoints++;
                break;
        }
    }

    private void DecrementCount(StockpileType type)
    {
        switch (type)
        {
            case StockpileType.Manpower:
                if (currentIncome.Manpower > 0)
                    currentIncome.Manpower--;
                break;
            case StockpileType.Ammo:
                if (currentIncome.Ammo > 0)
                    currentIncome.Ammo--;
                break;
            case StockpileType.Fuel:
                if (currentIncome.Fuel > 0)
                    currentIncome.Fuel--;
                break;
            case StockpileType.VictoryPoints:
                if (currentIncome.VictoryPoints > 0)
                    currentIncome.VictoryPoints--;
                break;
        }
    }

    private async Task UndoOne(StockpileType type)
    {
        var stock = db.Stockpile.FindOne(x => x.Type == type && x.Round == currentRound);

        if (stock.Amount < stock.InitialAmount)
        {
            stock.Amount++;
            db.Stockpile.Update(stock);
            await db.SaveDatabaseAsync();
        }

        switch (type)
        {
            case StockpileType.Manpower:
                if (currentCount.Manpower < stock.InitialAmount)
                    currentCount.Manpower++;
                break;
            case StockpileType.Ammo:
                if (currentCount.Ammo < stock.InitialAmount)
                    currentCount.Ammo++;
                break;
            case StockpileType.Fuel:
                if (currentCount.Fuel < stock.InitialAmount)
                    currentCount.Fuel++;
                break;
        }
    }

    private async Task BuyOne(StockpileType type)
    {
        var stock = db.Stockpile.FindOne(x => x.Type == type && x.Round == currentRound);

        if (stock.Amount > 0)
        {
            stock.Amount--;
            db.Stockpile.Update(stock);
            await db.SaveDatabaseAsync();
        }

        switch (type)
        {
            case StockpileType.Manpower:
                if (currentCount.Manpower > 0)
                    currentCount.Manpower--;
                break;
            case StockpileType.Ammo:
                if (currentCount.Ammo > 0)
                    currentCount.Ammo--;
                break;
            case StockpileType.Fuel:
                if (currentCount.Fuel > 0)
                    currentCount.Fuel--;
                break;
        }
    }

    private async Task Init(GameEdition edition, bool withDialog = true)
    {
        //Auf Basis der Edition hier VOrgabe
        if (edition == GameEdition.SecondEditionNormal)
        {
            currentCount.Manpower = 4;
            currentCount.Ammo = 2;
            currentCount.Fuel = 3;
            _vps = new List<int> { 18, 21, 24, 27 };
        }
        else
        {
            currentCount.Manpower = 4;
            currentCount.Ammo = 4;
            currentCount.Fuel = 4;
            _vps = new List<int> { 13, 15, 18 };
        }

        currentIncome.Manpower = 1;
        currentIncome.Ammo = 1;
        currentIncome.Fuel = 1;
        currentIncome.VictoryPoints = 0;

        currentCount.VictoryPoints = 0;
        currentRound = 1;
        NewRound();

        currentGame = new Game()
            {
                Edition = GameEdition.FirstEditionProWithErrata,
                Start = DateTime.Now,
                VictoryPoints = targetVpPick
            };
        db.Game.Insert(currentGame);

        if (modalVpQuestion != null && withDialog)
        {
            await modalVpQuestion.ShowAsync();
        }
    }

    private void Load()
    {
        currentRound = db.Income.Max(x => x.Round);
        currentIncome.Manpower = db.Income.FindOne(x => x.Type == StockpileType.Manpower && x.Round == currentRound).Amount;
        currentIncome.Ammo = db.Income.FindOne(x => x.Type == StockpileType.Ammo && x.Round == currentRound).Amount;
        currentIncome.Fuel = db.Income.FindOne(x => x.Type == StockpileType.Fuel && x.Round == currentRound).Amount;
        currentIncome.VictoryPoints = db.Income.FindOne(x => x.Type == StockpileType.VictoryPoints && x.Round == currentRound).Amount;

        currentCount.Manpower = db.Stockpile.FindOne(x => x.Type == StockpileType.Manpower && x.Round == currentRound).Amount;
        currentCount.Ammo = db.Stockpile.FindOne(x => x.Type == StockpileType.Ammo && x.Round == currentRound).Amount;
        currentCount.Fuel = db.Stockpile.FindOne(x => x.Type == StockpileType.Fuel && x.Round == currentRound).Amount;
        currentCount.VictoryPoints = db.Stockpile.FindOne(x => x.Type == StockpileType.VictoryPoints && x.Round == currentRound).Amount;
        currentCount.VictoryPoints += db.Fuks.Count();

        currentGame = db.Game.FindAll().SingleOrDefault();
    }

    private void NewRound()
    {
        db.Income.Insert(new Income { Amount = currentIncome.Manpower, Type = StockpileType.Manpower, Round = currentRound, Date = DateTime.Now });
        db.Income.Insert(new Income { Amount = currentIncome.Ammo, Type = StockpileType.Ammo, Round = currentRound, Date = DateTime.Now });
        db.Income.Insert(new Income { Amount = currentIncome.Fuel, Type = StockpileType.Fuel, Round = currentRound, Date = DateTime.Now });
        db.Income.Insert(new Income { Amount = currentIncome.VictoryPoints, Type = StockpileType.VictoryPoints, Round = currentRound, Date = DateTime.Now });

        db.Stockpile.Insert(new Stockpile { InitialAmount = currentCount.Manpower, Amount = currentCount.Manpower, Type = StockpileType.Manpower, Round = currentRound, Date = DateTime.Now });
        db.Stockpile.Insert(new Stockpile { InitialAmount = currentCount.Ammo, Amount = currentCount.Ammo, Type = StockpileType.Ammo, Round = currentRound, Date = DateTime.Now });
        db.Stockpile.Insert(new Stockpile { InitialAmount = currentCount.Fuel, Amount = currentCount.Fuel, Type = StockpileType.Fuel, Round = currentRound, Date = DateTime.Now });
        db.Stockpile.Insert(new Stockpile { InitialAmount = currentCount.VictoryPoints, Amount = currentCount.VictoryPoints, Type = StockpileType.VictoryPoints, Round = currentRound, Date = DateTime.Now });
    }

    private async Task NextRoundAsync(MouseEventArgs e)
    {
        var stockManpower = db.Stockpile.FindOne(x => x.Type == StockpileType.Manpower && x.Round == currentRound);
        var stockAmmo = db.Stockpile.FindOne(x => x.Type == StockpileType.Ammo && x.Round == currentRound);
        var stockFuel = db.Stockpile.FindOne(x => x.Type == StockpileType.Fuel && x.Round == currentRound);

        stockManpower.Amount = currentCount.Manpower;
        stockAmmo.Amount = currentCount.Ammo;
        stockFuel.Amount = currentCount.Fuel;

        db.Stockpile.Update(stockManpower);
        db.Stockpile.Update(stockAmmo);
        db.Stockpile.Update(stockFuel);

        var incomeManpower = db.Income.FindOne(x => x.Type == StockpileType.Manpower && x.Round == currentRound).Amount;
        var incomeAmmo = db.Income.FindOne(x => x.Type == StockpileType.Ammo && x.Round == currentRound).Amount;
        var incomeFuel = db.Income.FindOne(x => x.Type == StockpileType.Fuel && x.Round == currentRound).Amount;
        var incomeVP = db.Income.FindOne(x => x.Type == StockpileType.VictoryPoints && x.Round == currentRound).Amount;
        var changed = new List<string>();

        if (incomeManpower != currentIncome.Manpower)
        {
            changed.Add("Manpower: " + WithPlus(currentIncome.Manpower - incomeManpower));
        }
        if (incomeAmmo != currentIncome.Ammo)
        {
            changed.Add("Ammo: " + WithPlus(currentIncome.Ammo - incomeAmmo));
        }
        if (incomeFuel != currentIncome.Fuel)
        {
            changed.Add("Fuel: " + WithPlus(currentIncome.Fuel - incomeFuel));
        }
        if (incomeVP != currentIncome.VictoryPoints)
        {
            changed.Add("VPs: " + WithPlus(currentIncome.VictoryPoints - incomeVP));
        }
        bool confirmed = false;

        if (!changed.Any())
        {
            confirmed = await dialog.ShowAsync(
       title: "Alles erledigt?",
       message1: "Nächste Runde? Die Front ist unverändert!");

        }
        else
        {
            var parameters = new Dictionary<string, object>();
            parameters.Add("Items", changed);
            parameters.Add("Title", "Nächste Runde? Es gab Änderungen an der HKL:");

            confirmed = await dialog.ShowAsync<NextRoundDialog>(
       title: "Alles erledigt?",
       parameters: parameters
            );
        }

        if (confirmed)
        {
            currentRound++;
            currentCount.Manpower += currentIncome.Manpower;
            currentCount.Ammo += currentIncome.Ammo;
            currentCount.Fuel += currentIncome.Fuel;
            currentCount.VictoryPoints += currentIncome.VictoryPoints;

            if (currentGame != null && currentCount.VictoryPoints >= currentGame.VictoryPoints)
            {
                //TODO: generischer modal dialog machen
                await modal.ShowAsync();
            }

            NewRound();
            await db.SaveDatabaseAsync();
        }
    }

    private async Task AppResetAsync()
    {
        await db.ClearLocalStorageAsync();
        await db.LoadDatabaseAsync();
        await Init(GameEdition.FirstEditionProWithErrata, false);
    }

    private async Task NewGameAsync(GameEdition edition)
    {
        var confirmation = await dialog.ShowAsync(
           title: "Neues Gefecht?",
           message1: "Wirklich neues Gefecht starten?");

        if (confirmation)
        {
            db.Income.DeleteAll();
            db.Stockpile.DeleteAll();
            db.Fuks.DeleteAll();
            db.Game.DeleteAll();
            await db.SaveDatabaseAsync();
            await Init(edition);
            Load();
        }

    }

    public string WithPlus(int val)
    {
        if (val > 0) return "+" + val;
        else if (val < 0) return val.ToString();
        else return "0";
    }

    private async Task GainVp(MouseEventArgs e)
    {
        currentCount.VictoryPoints++;
        db.Fuks.Insert(new Fuk() { Date = DateTime.Now, Round = currentRound });
        await db.SaveDatabaseAsync();
    }
}